<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
  <add key="UserName" value="TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Password" value="TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="Domain" value="TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="EnvironmentName" value="MOCKDATA_DEV4" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="AuthorizationMethod" value="ADInternal" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="GetEntitiesURL" value="ViaInternalGWURL" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="GetEntityAccountsURL" value="ViaInternalGWURL" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="TransactionListURL" value="ViaInternalGWURL" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CreateCustomerURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ValidateCustomerURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="ValidateCustomerCANURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CreateCustomerInformationURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CitiBalanceInqueryURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CitiTransactionsJournalURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="GetEntitiesDirectToCBSURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="GetEntityAccountsDirectToCBSURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="TransactionListDirectToCBSURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="CreateCustomerInformationURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="AccessTokenURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="GetAuthenticationMethodsURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  <add key="FundsTransferURL" value="ViaInternalGWURL"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
   <add key="TestData" value="mockdata"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ReleaseVersion" value="Release1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
  </appSettings>
</configuration>
