<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.145.0" newVersion="4.7.145.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xmlunit-core" publicKeyToken="e7d7e3088fd452f6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.121" newVersion="2.5.1.121" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DiffPlex" publicKeyToken="1d35e91d1bd7bc0f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="UserName" value="#{IntegrationTest.UserName}" />
    <add key="Password" value="#{IntegrationTest.Password}" />
    <add key="Domain" value="#{IntegrationTest.Domain}" />
    <add key="EnvironmentName" value="#{IntegrationTest.Enviornment}" />
    <add key="GetEntitiesURL" value="#{IntegrationTest.GetEntitiesURL}" />
    <add key="TransactionListURL" value="#{IntegrationTest.TransactionListURL}" />
    <add key="GetEntityAccountsURL" value="#{IntegrationTest.GetEntityAccountsURL}" />
    <add key="CreateCustomerURL" value="#{IntegrationTest.CreateCustomerURL}" />
    <add key="ValidateCustomerURL" value="#{IntegrationTest.ValidateCustomerURL}" />
    <add key="ValidateCustomerCANURL" value="#{IntegrationTest.ValidateCustomerCANURL}" />
    <add key="CreateCustomerInformationURL" value="#{IntegrationTest.CreateCustomerInformationURL}" />
    <add key="CitiBalanceInqueryURL" value="#{IntegrationTest.CitiBalanceInqueryURL}" />
    <add key="CitiTransactionsJournalURL" value="#{IntegrationTest.CitiTransactionsJournalURL}" />
    <add key="GetEntitiesDirectToCBSURL" value="#{IntegrationTest.GetEntitiesDirectToCBSURL}" />
    <add key="GetEntityAccountsDirectToCBSURL" value="#{IntegrationTest.GetEntityAccountsDirectToCBSURL}" />
    <add key="TransactionListDirectToCBSURL" value="#{IntegrationTest.TransactionListDirectToCBSURL}" />
    <add key="TwoFactorAuthenticationURL" value="#{IntegrationTest.TransactionListDirectToCBSURL}" />
    <add key="FundsTransferURL" value="#{IntegrationTest.FundsTransferURL}" />
    <add key="BPayURL" value="#{IntegrationTest.FundsTransferURL}" />
    
    <add key="AccessTokenURL" value="#{IntegrationTest.AccessTokenURL}" />
    <add key="AuthorizationMethod" value="#{IntegrationTest.AuthorisationMethod}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="TestData" value="#{IntegrationTest.TestData}" />
    <add key="TestEndPoint" value="#{IntegrationTest.TestEndPoint}" />
    <add key="ReleaseVersion" value="#{IntegrationTest.ReleaseVersion}" />
  </appSettings>
  
</configuration>
